<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/spring-security.xml
        </param-value>
    </context-param>
    <!--    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>org.sitemesh.config.ConfigurableSiteMeshFilter</filter-class>
    </filter>-->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>org.sitemesh.config.ConfigurableSiteMeshFilter</filter-class>
    </filter>
    <!--
      - Loads the root application context of this web app at startup.
    -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    <!--
    - Publishes events for session creation and destruction through the application
    - context. Optional unless concurrent session control is being used.
    -->
    <listener>
        <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
    </listener>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>prueba</servlet-name>
        <servlet-class>prueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adjuntar</servlet-name>
        <servlet-class>adjuntar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adjuntari</servlet-name>
        <servlet-class>adjuntari</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>descargari</servlet-name>
        <servlet-class>descargari</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminari</servlet-name>
        <servlet-class>eliminari</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adjuntarr</servlet-name>
        <servlet-class>adjuntarr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>descargarr</servlet-name>
        <servlet-class>descargarr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarr</servlet-name>
        <servlet-class>eliminarr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resguardo</servlet-name>
        <servlet-class>resguardo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resguardo_area</servlet-name>
        <servlet-class>resguardo_area</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resguardo_areas</servlet-name>
        <servlet-class>resguardo_areas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reporte_persona</servlet-name>
        <servlet-class>reporte_persona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>res_sencillo_individuals</servlet-name>
        <servlet-class>res_sencillo_individuals</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tipodepreciacion</servlet-name>
        <servlet-class>tipodepreciacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tipodepreciaciont</servlet-name>
        <servlet-class>tipodepreciaciont</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>prueba</servlet-name>
        <url-pattern>/prueba</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adjuntar</servlet-name>
        <url-pattern>/adjuntar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adjuntari</servlet-name>
        <url-pattern>/adjuntari</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>descargari</servlet-name>
        <url-pattern>/descargari</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminari</servlet-name>
        <url-pattern>/eliminari</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adjuntarr</servlet-name>
        <url-pattern>/adjuntarr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>descargarr</servlet-name>
        <url-pattern>/descargarr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarr</servlet-name>
        <url-pattern>/eliminarr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resguardo</servlet-name>
        <url-pattern>/resguardo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resguardo_area</servlet-name>
        <url-pattern>/resguardo_area</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resguardo_areas</servlet-name>
        <url-pattern>/resguardo_areas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reporte_persona</servlet-name>
        <url-pattern>/reporte_persona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>res_sencillo_individuals</servlet-name>
        <url-pattern>/res_sencillo_individuals</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tipodepreciacion</servlet-name>
        <url-pattern>/tipodepreciacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tipodepreciaciont</servlet-name>
        <url-pattern>/tipodepreciaciont</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1800
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
